
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Editing Pin</h1>
    </div>
<div class="panel-body">
<%= render 'form' %>

<%= link_to 'Show', @pin, class: 'btn btn-info' %>&nbsp;
<%= link_to 'Back', pins_path, class: 'btn btn-primary' %>
</div>