<!--<p id="notice"><#%= notice %></p>-->
<div class="panel panel-default">
   <div class="panel-heading center">
     <%= link_to image_tag(@pin.image.url( :original)), pins_path %>
   </div>
   <div class="panel-body">
    <strong>Description: </strong><%= @pin.description %><br/>
    <strong>Pinned by: </strong><%= @pin.user.name if @pin.user %>
   
    <% if @pin.user == current_user %>
    <div class="panel-footer">
        <%= link_to 'Edit', edit_pin_path(@pin),class: 'btn btn-warning btn-sm' %>&nbsp;
    </div>
    <% end %>
    </div>
</div>