

<div class="jumbotron center">
    <h1>Welcome to my Pin-Tastic App!</h1>
    <p>This is Rolando's first <span style="color:red">Ruby on Rails</span> App!</p>
    <p>I hope you enjoy using it as much as I did making it.</p><br/>
    <%= link_to 'Sign Up',  new_user_registration_path, class: 'btn btn-success' %>
    <%= link_to 'Log in',  new_user_session_path, class: 'btn btn-primary' %>

</div>