

<div class="jumbotron center">
    <h1>Welcome to my Pin-Tastic App!</h1><br/>
    <p><em>"This is my first <span style="color:red">Ruby on Rails</span> App!
    I hope you enjoy using it as much as I did making it."</em></p><br/>
    <%= link_to 'Sign Up',  new_user_registration_path, class: 'btn btn-success' %>
    <%= link_to 'Log in',  new_user_session_path, class: 'btn btn-primary' %>

</div>