
<div class="jumbotron center">
<h1>About the App</h1><br/>
<p class="lead">This App is based on Pinterest where you can "Pin" your favorite or most memorable photos/images and 
store them in a single location for you to share to everybody for viewing. However, this does not offer 
the full functionality of Pinterest and only mimic some of its unique characterictics.</p><br/>
<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
</div>

