
<div class="jumbotron center">
<h1>About the App</h1><br/>
<p>This App is based on Pinterest where you can "Pin" your favorite or most memorable</p><p>photos/images and 
store them in a single location and share them for viewing to everybody.</p><p><However, this does not offer 
the full functionality of Pinterest.</p><br/>
<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
</div>

