<%= render 'home/header' %>

<div class="jumbotron">
    <h1>Welcome to Rolando's App</h1>
    <p>This is my first Rails App!</p>
    <p>I hope you enjoy using it as much as I did making it.</p>
</div>