

<div class="jumbotron">
    <h1>Welcome to Rolando's App</h1>
    <p>This is my first Rails App!</p>
    <p>I hope you enjoy using it as much as I did making it.</p>
    <%= link_to 'About Us', home_about_path, class: 'btn btn-success' %>
    <%= link_to 'Home', root_path, class: 'btn btn-success' %>

</div>