$navbar-height: 60px;
$navbar-default-bg:#AA89A1;
$white:#fff;
$navbar-default-link-color:$white;
$navbar-default-link-hover-color:$white;
$navbar-default-link-hover-bg:#D7ABB5;
$pagination-active-bg:#FF8C00;
$pagination-active-border:#FF8C00;
$pagination-disabled-color:#FF8C00;
$pagination-color:#FF8C00;
$pagination-border:#AA89A1;
$pagination-disabled-border:#AA89A1;
$link-hover-color:#00b3b3;
$pagination-hover-bg:#e6ffff;
$pagination-hover-border:#00cccc;
$panel-default-heading-bg:#d9ffcc;
$panel-footer-bg:#eaeaea;
$panel-default-border:#d4d4aa;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 90px;
}


.center{
  text-align: center;
  margin:0 auto;
} 

#logo {
    float: left;
    position: relative;
    font-size: 1.75em;
    color: #fff;
    /*text-transform: uppercase;*/
    letter-spacing: -1px;
    font-weight: bold;
    font-style:italic;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
.jumbotron {
    padding: 0;
    margin: 0;
    padding: 20px 0 30px 0;
    background-image: asset-url('beachwalk.jpg');
    background-size: cover;
    height: 400px;
    background-position: 100% 70%;
}

.jumbotron h1 {
    color: #33A2E1;
}
#logo {
  margin-left: 10px;
}
#logoimg {
   background-image: asset-url('pin.png');
   background-size: cover;
   height: 35px;
   width: 25px;
   position: relative;
   top: 7px;
}
.btn {
  color: #fff;

  &:visited {
    color: #fff;
  }

  /*&:hover {
    color: #000;
    background-color: #000;
  }*/
}

.panel {
  &-heading {
    margin: 0;
    padding: 10px;
  }
  &-body {
    margin: 0;
    padding: 5px;
  }
  &-footer {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 45px;
  }
}
#listpinfooter {
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    height: 45px;
}
#login {
  margin-right: 40px;
}

#copyright {
    margin-top: 20px;
		padding-top: 2px;
		color: white;
		background-color: #3D3C3A;
		font-size: 0.9em;
		font-weight: bold;
		line-height: 20px;
		text-align: center;
}