
$navbar-default-bg:#99994d;
$white:#fff;
$navbar-default-link-color:$white;
$navbar-default-link-hover-color:$white;
$navbar-default-link-hover-bg:#b2b266;
$jumbotron-bg:#ccccff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    position: relative;
    font-size: 1.75em;
    color: #fff;
    /*text-transform: uppercase;*/
    letter-spacing: -1px;
    font-weight: bold;
    font-style:italic;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
.jumbotron {
    border-radius: 50px;
}

.jumbotron h1 {
    color: #0033FF;
}

.btn {
  color: #fff;

  &:visited {
    color: #fff;
  }

  /*&:hover {
    color: #000;
    background-color: #000;
  }*/
}
