// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
    margin: 0 auto;
    padding: 0;
}

.box {
    margin: 5px;
    padding: 0;
    width: 214px;
    box-shadow: 3px 3px 3px #b8b894;
}
.box img {
    width: 100%;
}
